.navbar {
  z-index: 100;
  position: fixed;
  min-width: 100%;
  min-height: 50px;
  background-color: var(--color-navbar-fallback);
  border-bottom: 0.1px solid var(--color-navbar-border);
  transition: background-color var(--quick-ease), border-color var(--quick-ease);
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .navbar {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: var(--color-navbar-blur);
  }
}
