/*!
 * This was copy-pasted from Hyrious' GitHub Markdown CSS
 * generation repo: https://github.com/hyrious/generate-github-markdown-css
 * which is a fork of https://github.com/sindresorhus/generate-github-markdown-css
 * We have pasted it here incase either of those repos are down
*/

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body .anchor:focus {
  outline: 0;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

@media print {
  .markdown-body .comment h2,
  .markdown-body p {
    break-inside: avoid;
  }
  .markdown-body h2 {
    break-after: avoid;
  }
  .markdown-body .blob-num {
    border-right: 2px solid var(--color-border-primary);
  }
  .markdown-body pre > code {
    white-space: pre-wrap;
  }
}

.markdown-body .tab-size[data-tab-size="1"] {
  tab-size: 1;
}

.markdown-body .tab-size[data-tab-size="2"] {
  tab-size: 2;
}

.markdown-body .tab-size[data-tab-size="3"] {
  tab-size: 3;
}

.markdown-body .tab-size[data-tab-size="4"] {
  tab-size: 4;
}

.markdown-body .tab-size[data-tab-size="5"] {
  tab-size: 5;
}

.markdown-body .tab-size[data-tab-size="6"] {
  tab-size: 6;
}

.markdown-body .tab-size[data-tab-size="7"] {
  tab-size: 7;
}

.markdown-body .tab-size[data-tab-size="8"] {
  tab-size: 8;
}

.markdown-body .tab-size[data-tab-size="9"] {
  tab-size: 9;
}

.markdown-body .tab-size[data-tab-size="10"] {
  tab-size: 10;
}

.markdown-body .tab-size[data-tab-size="11"] {
  tab-size: 11;
}

.markdown-body .tab-size[data-tab-size="12"] {
  tab-size: 12;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px/10px ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: var(--color-bg-secondary);
  border-bottom-color: var(--color-border-tertiary);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-border-tertiary);
  transition: color var(--quick-ease), background-color var(--quick-ease),
    border-color var(--quick-ease), box-shadow var(--quick-ease);
}

.markdown-body dl,
.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body strong,
.markdown-body table th {
  font-weight: 600;
}

.markdown-body .commit-tease-sha {
  display: inline-block;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  font-size: 90%;
  color: var(--color-text-primary);
}

.markdown-body .blob-wrapper {
  overflow: auto hidden;
}

.markdown-body .blob-wrapper table tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-body .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown-body .blob-code,
.markdown-body .blob-num {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.markdown-body .blob-num {
  width: 1%;
  min-width: 50px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  font-size: 12px;
  color: var(--color-diff-blob-num-text);
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.markdown-body .blob-num:hover {
  color: var(--color-diff-blob-num-hover-text);
}

.markdown-body .blob-num::before {
  content: attr(data-line-number);
}

.markdown-body .blob-code {
  position: relative;
}

.markdown-body .blob-code-inner {
  overflow: visible;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  font-size: 12px;
  color: var(--color-text-primary);
  overflow-wrap: normal;
  white-space: pre;
}

.markdown-body .blob-code-inner ::selection,
.markdown-body .blob-code-inner::selection {
  background-color: var(--color-code-selection-bg);
}

.markdown-body .pl-token.active,
.markdown-body .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-body details {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body a {
  background-color: transparent;
  color: var(--color-text-link);
  text-decoration: none;
  transition: color var(--quick-ease), background-color var(--quick-ease);
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body h1 {
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  background-color: var(--color-bg-primary);
  transition: background-color var(--quick-ease);
}

.markdown-body hr,
.markdown-body img {
  box-sizing: content-box;
}

.markdown-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body [type="reset"],
.markdown-body [type="submit"] {
  appearance: button;
}

.markdown-body [type="checkbox"],
.markdown-body [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body .rule {
  height: 0;
  margin: 15px 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.markdown-body .rule,
.markdown-body hr {
  overflow: hidden;
  background: 0 0;
  border-image: initial;
  border-bottom: 1px solid var(--color-border-secondary);
  transition: border-color var(--quick-ease);
}

.markdown-body .rule::after,
.markdown-body .rule::before,
.markdown-body hr::after,
.markdown-body hr::before,
.markdown-body::after,
.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body .rule::after,
.markdown-body hr::after,
.markdown-body::after {
  clear: both;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.markdown-body .border {
  border: 1px solid var(--color-border-primary) !important;
  transition: border-color var(--quick-ease);
}

.markdown-body .border-0 {
  border: 0 !important;
}

.markdown-body .border-bottom {
  border-bottom: 1px solid var(--color-border-primary) !important;
  transition: border-color var(--quick-ease);
}

.markdown-body .rounded-1 {
  border-radius: 4px !important;
}

.markdown-body .color-text-tertiary {
  color: var(--color-text-tertiary) !important;
  transition: color var(--quick-ease);
}

.markdown-body .color-bg-primary {
  background-color: var(--color-bg-primary) !important;
}

.markdown-body .color-bg-secondary {
  background-color: var(--color-bg-secondary) !important;
}

.markdown-body .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-body .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown-body .pl-3,
.markdown-body .px-3 {
  padding-left: 16px !important;
}

.markdown-body .px-3 {
  padding-right: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body .pl-7 {
  padding-left: 48px !important;
}

.markdown-body .pl-8 {
  padding-left: 64px !important;
}

.markdown-body .pl-9 {
  padding-left: 80px !important;
}

.markdown-body .pl-10 {
  padding-left: 96px !important;
}

.markdown-body .pl-11 {
  padding-left: 112px !important;
}

.markdown-body .pl-12 {
  padding-left: 128px !important;
}

@media (min-width: 544px) {
  .markdown-body .pl-sm-0 {
    padding-left: 0 !important;
  }
  .markdown-body .pl-sm-1 {
    padding-left: 4px !important;
  }
  .markdown-body .pl-sm-2 {
    padding-left: 8px !important;
  }
  .markdown-body .pl-sm-3 {
    padding-left: 16px !important;
  }
  .markdown-body .pl-sm-4 {
    padding-left: 24px !important;
  }
  .markdown-body .pl-sm-5 {
    padding-left: 32px !important;
  }
  .markdown-body .pl-sm-6 {
    padding-left: 40px !important;
  }
  .markdown-body .pl-sm-7 {
    padding-left: 48px !important;
  }
  .markdown-body .pl-sm-8 {
    padding-left: 64px !important;
  }
  .markdown-body .pl-sm-9 {
    padding-left: 80px !important;
  }
  .markdown-body .pl-sm-10 {
    padding-left: 96px !important;
  }
  .markdown-body .pl-sm-11 {
    padding-left: 112px !important;
  }
  .markdown-body .pl-sm-12 {
    padding-left: 128px !important;
  }
}

@media (min-width: 768px) {
  .markdown-body .pl-md-0 {
    padding-left: 0 !important;
  }
  .markdown-body .pl-md-1 {
    padding-left: 4px !important;
  }
  .markdown-body .pl-md-2 {
    padding-left: 8px !important;
  }
  .markdown-body .pl-md-3 {
    padding-left: 16px !important;
  }
  .markdown-body .pl-md-4 {
    padding-left: 24px !important;
  }
  .markdown-body .pl-md-5 {
    padding-left: 32px !important;
  }
  .markdown-body .pl-md-6 {
    padding-left: 40px !important;
  }
  .markdown-body .pl-md-7 {
    padding-left: 48px !important;
  }
  .markdown-body .pl-md-8 {
    padding-left: 64px !important;
  }
  .markdown-body .pl-md-9 {
    padding-left: 80px !important;
  }
  .markdown-body .pl-md-10 {
    padding-left: 96px !important;
  }
  .markdown-body .pl-md-11 {
    padding-left: 112px !important;
  }
  .markdown-body .pl-md-12 {
    padding-left: 128px !important;
  }
}

@media (min-width: 1012px) {
  .markdown-body .pl-lg-0 {
    padding-left: 0 !important;
  }
  .markdown-body .pl-lg-1 {
    padding-left: 4px !important;
  }
  .markdown-body .pl-lg-2 {
    padding-left: 8px !important;
  }
  .markdown-body .pl-lg-3 {
    padding-left: 16px !important;
  }
  .markdown-body .pl-lg-4 {
    padding-left: 24px !important;
  }
  .markdown-body .pl-lg-5 {
    padding-left: 32px !important;
  }
  .markdown-body .pl-lg-6 {
    padding-left: 40px !important;
  }
  .markdown-body .pl-lg-7 {
    padding-left: 48px !important;
  }
  .markdown-body .pl-lg-8 {
    padding-left: 64px !important;
  }
  .markdown-body .pl-lg-9 {
    padding-left: 80px !important;
  }
  .markdown-body .pl-lg-10 {
    padding-left: 96px !important;
  }
  .markdown-body .pl-lg-11 {
    padding-left: 112px !important;
  }
  .markdown-body .pl-lg-12 {
    padding-left: 128px !important;
  }
}

@media (min-width: 1280px) {
  .markdown-body .pl-xl-0 {
    padding-left: 0 !important;
  }
  .markdown-body .pl-xl-1 {
    padding-left: 4px !important;
  }
  .markdown-body .pl-xl-2 {
    padding-left: 8px !important;
  }
  .markdown-body .pl-xl-3 {
    padding-left: 16px !important;
  }
  .markdown-body .pl-xl-4 {
    padding-left: 24px !important;
  }
  .markdown-body .pl-xl-5 {
    padding-left: 32px !important;
  }
  .markdown-body .pl-xl-6 {
    padding-left: 40px !important;
  }
  .markdown-body .pl-xl-7 {
    padding-left: 48px !important;
  }
  .markdown-body .pl-xl-8 {
    padding-left: 64px !important;
  }
  .markdown-body .pl-xl-9 {
    padding-left: 80px !important;
  }
  .markdown-body .pl-xl-10 {
    padding-left: 96px !important;
  }
  .markdown-body .pl-xl-11 {
    padding-left: 112px !important;
  }
  .markdown-body .pl-xl-12 {
    padding-left: 128px !important;
  }
}

.markdown-body .f6 {
  font-size: 12px !important;
}

.markdown-body .lh-condensed {
  line-height: 1.25 !important;
}

.markdown-body .text-bold {
  font-weight: 600 !important;
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable",
    "Segoe UI", system-ui, ui-sans-serif, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  max-width: 1000px; /* we added */
  margin: 1rem auto 0 auto; /* we added */
  padding: 0px 16px 100px 16px; /* we added */
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-border-primary);
  border: 0;
  transition: background-color var(--quick-ease);
}

.markdown-body blockquote {
  padding: 0 1em;
  color: var(--color-text-tertiary);
  border-left: 0.25em solid var(--color-markdown-blockquote-border);
  transition: color var(--quick-ease), border-color var(--quick-ease);
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--color-border-secondary);
  transition: border-color var(--quick-ease);
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: var(--color-text-tertiary);
  transition: color var(--quick-ease);
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
  border: 1px solid var(--color-markdown-table-border);
  transition: border-color var(--quick-ease);
}

.markdown-body table tr {
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-markdown-table-tr-border);
  transition: background-color var(--quick-ease), border-color var(--quick-ease);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--color-bg-tertiary);
  transition: background-color var(--quick-ease);
}

.markdown-body img[align="right"] {
  padding-left: 20px;
}

.markdown-body img[align="left"] {
  padding-right: 20px;
}

.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-markdown-code-bg);
  border-radius: 6px;
  transition: background-color var(--quick-ease);
}

.markdown-body pre {
  overflow-wrap: normal;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-bg-tertiary);
  border-radius: 6px;
  transition: background-color var(--quick-ease);
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  overflow-wrap: normal;
  background-color: transparent;
  border: 0;
}
